*.xoj
*7z
histogram/*k/*
histogram/histogram_code/histogram
openmp/hello-parallel
histogram/Color Histogram.odt
trabalho1/input/*
mpi/trabalho 2/10x2-5M.txt
mpi/trabalho 2/10x5M.txt
mpi/trabalho 2/10x10M.txt
mpi/trabalho 2/10x20M.txt
